<!-- page content -->
      <div class="right_col" role="main">

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Additional Features</h3>
            </div>


          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">

                  <ul class="nav navbar-right panel_toolbox">

                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <!-- start project list -->
                  <table class="table table-striped projects">

                    <tbody>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_nessus">Auto Add Findings from a Nessus XML</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_acunetix">Auto Add Findings from an Acunetix XML</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_burp">Auto Add Findings from a Burp XML scanner report</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_nikto">Auto Add Findings from a Nikto XML</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_nikto">Auto Add Findings from a Nmap XML</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_nikto">Auto Add Findings from a Netsparker XML</a></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><a href="/report/<%= @report.id %>/import_nikto">Auto Add Findings from a Qualys XML</a></td>
                      </tr>

                    </tbody>
                  </table>
                  <!-- end project list -->

                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <!-- /page content -->
